body {
	margin:			0px;
	padding:		0px;
	background-color:	#111111;
}

body, div, p, input {
	font-family:		Helvetica, Arial, sans-serif;
}

a {
	color:			#005D6A;
}
a:active {
	outline:		none;
	-moz-outline-style:	none;
}

a:focus {
	outline:		none;
	-moz-outline-style:	none;
}

#header {
	background-color:	#111111;
	background-image:	url( '../img/header_bg.png' );
	background-repeat:	repeat-x;
	background-position:	bottom;
	overflow:		hidden;
	width:			100%;
	height:			142px;
}

#logo img {
	margin-left: 		-42px;
	border:			0px;
}

#search {
	margin-bottom: 		46px;
}

#search input {
	margin-top:		20px;
	font-size:		14pt;
	color:			#979797;
	font-weight:		bold;
	border:			0px;
	background-color:	#ffffff;
	-moz-border-radius:	16px;
	-webkit-border-radius:	16px;
	padding:		2px;
	padding-bottom:		4px;
	padding-left:		10px;
	padding-right:		38px;
	background-image:	url( '../img/search.png' );
	background-repeat:	no-repeat;
	background-position:	right;
	text-align:		right;
	width:			172px;
	height:			23px;
}

#subnav {
	clear: both;
	margin-bottom: 		16px;
	margin-top: 		16px;
	font-weight:		bold;
	font-size:		11pt;
	color: 			#005D6A;
}

#subnav a {
	font-weight:		bold;
	text-decoration:	none;
}

#subnav a.active {
	text-decoration:	underline;
}

#main {
	background-color:	white;
	padding-bottom:		50px;
	padding-top:		21px;
}

#infobox {
	clear: both;
	border:			1px solid #d4e8ea;
	overflow:		hidden;
	-moz-border-radius:	16px;
	-webkit-border-radius:	16px;
	background:		#d4e8ea url( '../img/infobg.png' ) repeat-x;
	background-position:	bottom;
	height:			255px;
}


body#home #infobox {
	background-image:	url( '../img/infobg_home.png' );
	height:			455px;
}

body#home #infobox div {
	visibility:		hidden;
	display:		none;
}

body#help #infobox {
	background-image:	url( '../img/infobg_help.png' );
	height:			355px;
}

body#help #infobox div {
	visibility:		hidden;
	display:		none;
}

body#get-involved #infobox {
	background-image:	url( '../img/infobg_get-involved.png' );
	height:			355px;
}

body#get-involved #infobox div {
	visibility:		hidden;
	display:		none;
}

body#about-us #infobox {
	background-image:	url( '../img/infobg_about-us.png' );
	height:			355px;
}

body#about-us #infobox div {
	visibility:		hidden;
	display:		none;
}

body#projects #infobox {
	background-image:	url( '../img/infobg_projects.png' );
	height:			355px;
}

body#projects #infobox div {
	visibility:		hidden;
	display:		none;
}

#infobox div img {
	padding-left:		10px;
	padding-top:		15px;
	padding-bottom:		15px;
}

#infobox div {
	color:			#3f5f63;
	font-size:		13pt;
}

#infobox div h1 {
	font-size:		20pt;
	font-weight:		normal;
}

#content {
	overflow:		hidden;
	margin-bottom:		20px;
}

#content h1 {
	font-size:		36pt;
	letter-spacing:		-2px;
	display: block;
}

#content h2 {
	color:			#205e65;
	font-size:		18pt;
	font-weight:		bold;
	letter-spacing:		-1px;
}

#content h3 {
	font-size:		13pt;
	font-weight:		bold;
	letter-spacing:		0px;
}

#content p {
	font-size:		11pt;
	text-align:		left;
}

#footer  {
	background-color:	#111111;
	overflow:		hidden;
	width:			100%;
	padding-top:		20px;
	color:			#ffffff;
}

#footer a {
	font-size:		11pt;
	color:			#ffffff;
	text-decoration:	none;
}

#footer ul {
	margin-left:		0px;
	padding-left:		0px;
	list-style-type:	none; 
}

#footer #copyleft {
	margin-bottom:		50px;
	margin-top:		20px;
}

/* Navigation tabs */

#nav {
	padding-left: 60px;
}

#nav ul li, #nav ul li a {
	list-style-type:	none; 
	float: left;
}

#nav ul li a {
	text-decoration:	none;
	text-indent:		-9999px;
}

#nav ul li #n_home {
	display:		block;
	width:			120px;
	height:			37px;
	background-image:	url( '../img/tabs/home_inactive.png' ) ;
}

body#home #nav ul li #n_home {
	display:		block;
	width:			120px;
	height:			63px;
	background-image:	url( '../img/tabs/home_active.png' ) ;
}

#nav ul li #n_about-us {
	display:		block;
	width:			120px;
	height:			37px;
	background-image:	url( '../img/tabs/about_us_inactive.png' ) ;
}
body#about-us #nav ul li #n_about-us {
	display:		block;
	width:			120px;
	height:			63px;
	background-image:	url( '../img/tabs/about_us_active.png' ) ;
}

#nav ul li #n_projects {
	display:		block;
	width:			120px;
	height:			37px;
	background-image:	url( '../img/tabs/projects_inactive.png' ) ;
}
body#projects #nav ul li #n_projects {
	display:		block;
	width:			120px;
	height:			63px;
	background-image:	url( '../img/tabs/projects_active.png' ) ;
}

#nav ul li #n_get-involved {
	display:		block;
	width:			120px;
	height:			37px;
	background-image:	url( '../img/tabs/get_involved_inactive.png' ) ;
}
body#get-involved #nav ul li #n_get-involved {
	display:		block;
	width:			120px;
	height:			63px;
	background-image:	url( '../img/tabs/get_involved_active.png' ) ;
}

#nav ul li #n_help {
	display:		block;
	width:			120px;
	height:			37px;
	background-image:	url( '../img/tabs/help_inactive.png' ) ;
}
body#help #nav ul li #n_help {
	display:		block;
	width:			120px;
	height:			63px;
	background-image:	url( '../img/tabs/help_active.png' ) ;
}


.project_list li {
	padding:		0px;
	margin:			0px;
	margin-bottom: 		20px;
	list-style-type:	none; 
}

.project_list li h3 {
	margin-bottom:		5px;
}

.project_list li h3 a {
	text-decoration:	none;
}

.project_list hr {
	border:			0px solid #fff;
	border-top: 		1px solid #efefef;
}